*{ box-sizing: border-box; 
padding:0;
margin:0;
font-family: 'Noto Sans KR', sans-serif;
list-style: none;
box-sizing: border-box;
text-decoration: none;}

.app_intro
{
    position: absolute;
    top:170px;
    background-color: white;
}


.nav_bar ul{
    list-style: none;
}
.nav_bar ul li{
    list-style-type: none;
    float:left;
    margin-left:10px;
}

.nav_bar{
    margin: 0 85.5px;
    padding: 0 48px;
    background-color: gray;
}

.nav_bar a{
    font-size: 14px;
    color:gray  ;
}
.nav_bar a strong{
    color: #ff0000;
    font-weight: 600;
}

.nav_bar ul li::before{
    content:"·    ";
}

.nav_bar ul  li:first-child::before{
    content:none;
}


.container{
    margin: 0 85.5px;
    padding: 0 48px;
}

.big_head h1{
    clear:both;
    padding-top: 60px;
    padding-bottom: 63px;
    font-size:72px;
    font-weight: 700;
}


.next_head h1{
    clear:both;
    font-size:56px;
    font-family: "Mark Pro";
    margin-bottom: 50px;
}

.next_head h5{
    font-size: 32px;
    margin-bottom:60px;
}

.next_head p{
    font-size:18px;
    display: inline-block;
}

#fir_img{
    position: relative;
    top:-160px;
    left:210px;
    display: inline-block;
    max-width: 100%;
    float: right;
    margin-right:230px;
  
}

.box{
    clear:both;
    margin: 100px 85.5px 120px;
    padding: 0 48px;
}


.box li{
    display: flex;
    width: 33%;
    height: 350px;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
    float:left;
}
.box dl
{
    display: block;
    width:100%;
    border: #d6d6d6 solid 2px;
    margin:12px;


}

.box2{
    clear:both;
    margin: 100px 85.5px 120px;
    padding: 0 48px;
}


.box2 li{
    display: flex;
    width: 25%;
    height: 300px;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
    float:left;
}
.box2 dl
{
    display: block;
    width:100%;
    border: #d6d6d6 solid 2px;
    margin:12px;


}


.download{
    clear:both;
}

.box li{
    background: url(../images/app_intro_img/1.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}
.box li + li{
    background: url(../images/app_intro_img/2.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}

.box li + li+ li{
    background: url(../images/app_intro_img/3.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}
.box li + li + li + li{
    background: url(../images/app_intro_img/4.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}
.box li + li + li + li + li{
    background: url(../images/app_intro_img/5.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}
.box li + li + li + li + li + li{
    background: url(../images/app_intro_img/6.png) no-repeat;
    background-size: 30%;
    background-position:142px 70px;
}

.box dt{
    margin-top:180px;
    font-size: 24px;
    font-weight: 700;

}

.box dd{
    margin-top:20px;
    margin-bottom: 140px;
    font-size: 18px;
}


.download h1{
    display:flex;
    float:left;
    font-size: 40px;
    margin: 0 85.5px;
    padding:100px 48px;
    color:black;
    font-weight:700;
    margin-right: 220px;

}

.down_img{
    margin-left:500px;
}

.download a{
    margin-top:100px;
    margin-left:10px;
    display: flex;
    float:left;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 64px;
    border: 1px solid #d6d6d6;
}

.download a:link{
    color:black;
    font-size: 16px;
    font-weight: 700;
}

.download img{
    float:left;
}

.download img{
    margin-top:100px;
    margin-left:10px;
}


.float_no{
    clear:both;
}
.swipe{
    clear:both;
    width:100%;
    padding:64px;
    margin:48px;
    background-color: red;
}
