.notice{
    /* border: 1px solid black; */
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;
}

/* .smallmenu {
    border: 1px solid black;
    display: block;
    height: 20px;
}
.smallmenu p{
    line-height: 20px;
} */

.dot{
    border:1.5px solid black;
    display:inline-block;
    margin: 0px 4px 3px 4px;
    background-color: black;
}
.smallmenuBox > .smallmenu .smallmenuitem{
    font-size: 14px;
}
.smallmenuBox > .smallmenu > .gomain{
    color:#808080;
}
.smallmenuBox > .smallmenu > .gobrand{
    color:#dc2d5a;
    font-weight: bolder;
}

.notice .title-wrap{
    margin-top: 20px;
    display: block;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.5;
    width: 100px;
    height: 30px;
    flex-grow: 1;
    box-sizing: border-box;
}

.notice #title-h1{
    display: inline-block;
    padding-top: 20px;
    margin-top: 40px;
    font-size: 73px;
    font-weight: 720;
    line-height: 1.5;
    width: 1000px;
    height: 80px;
    flex-grow: 1;
    box-sizing: border-box;
    letter-spacing: 3px;
}

.bodycontainer .ui-bbs-view{
    width: 1200px;
    height: 750px;
    float: left;
    border-bottom: 1px solid #cbcbcb;
}
#title-h3 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    line-height: 1.5;
    flex-grow: 1;
    margin-top: 80px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

div.ui-bbs-view p.date{
   padding-bottom: 30px;
   border-bottom: 1px solid #cbcbcb;
   margin-bottom: 55px;
   letter-spacing: 0.5px;
   font-size: 15px;
}

.ui-bbs-content{
    width: 1200px;
    height: 0px;
    padding-bottom: 10px;
}

.ui-bbs-content p{
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 200;
}


.buttons{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.buttons .button.is-cmd.is-large {
    margin-bottom: 0;
    border: 2px solid #333;
    color: #000;
    /* position: relative; */
    /* transition: color .3s cubic-bezier(0.16, 0.04, 0.03, 0.95); */
    cursor:pointer;
    vertical-align: middle;
    justify-self: center;
    white-space: nowrap;
    display: inline-flex;
    /* overflow: hidden; */
    -webkit-appearance: none;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
}

.ui-bbs-nav{
    margin-top: 80px;
    display: block;
    float: left;
}

.ui-bbs-nav dl:first-child{
    border-bottom: none;
}

.ui-bbs-nav dl{
    display: flex;
    width: 1200px;
    height: 90px;
    align-items: center;
    padding: 0 32px;
    border-top: 1px solid #ebebeb;
}

dl{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ui-bbs-nav dt{
    flex: 0 0 40px;
    font-size: 14px;
    line-height: 1;
    color: #707070;
}

.ui-bbs-nav dd {
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
}
